/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* General */
* {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 501;
    margin: 25px 0 0 25px;
    height: 35px;
}

.text-green {
    color: #61B870
}

.btn {
    background-color: #4D4D4D;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #E8E8E8;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 5px;
    transition: 0.5s;
    margin-right: 15px;
}

.btn:hover {
    background-color: rgba(77, 77, 77, .5);
}

/* Utility */
.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

/* Map */
#map {
    width: 100%;
    height: 100%;
    background: #253238;
}

/* Frisia */
.friesland {
    opacity: 1;
}

/* Tooltip */
.leaflet-tooltip-right:before,
.leaflet-tooltip-left:before,
.sea {
    display: none;
}

.leaflet-tooltip {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    box-shadow: none;
    font-size: 18px;
    color: #fff;
}

/* Switch */
.switch {
    width: 100%;
}

.switch input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
}

.switch label {
    width: 40px;
    height: 20px;
    display:block;
    background-color: transparent;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    border: 3px solid #fff;
}

.switch label::after {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #fff;
    position: absolute;
    border-radius: 70px;
    top: 2.5px;
    left: 2.5px;
    transition: 0.5s;
}

.switch input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.switch input:checked + label {
    background-color: #243d42;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 75px;
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    background-color: #202020;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

.sidebar-icons {
    margin-top: 50px;
}

.sidebar-icons a {
    fill: #E8E8E8;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 13px ;
    margin: 15px 0;
    border-radius: 5px;
    transition: 0.5s;
}

.sidebar-footer {
    position: absolute;
    bottom: 25px;
}

.sidebar-icons a:hover {
    background-color: #4D4D4D
}

.selector-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 501;
    top: 0;
    right: 75px;
    background-color: #202020;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar-container {
    padding: 25px;
    background-color: #313131;
}

.sidebar-header {
    position: absolute;
    z-index: 501;
    display: flex;
    width: 100%;
}

.sidebar-header a:last-child {
    position: absolute;
    right: 55px;
    margin-right: 0;
}

.sidebar-content {
    margin-top: 25px;
    background-color: #313131;
    padding: 15px;
}

.warning {
    background-color: #504235;
    width: 230px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    border-radius: 4px;
    color: #D9B943;
}

.warning img {
    margin-right: 25px;
    height: 20px
}

.title-sidebar {
    color: #EEEEEE;
    font-size: 20px;
}

.sidebar-text {
    color: #8A8A8A;
    align-items: center;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.kilometers {
    color: #EEEEEE;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

/* Leaflet controls */
.leaflet-popup-content-wrapper {
    border-radius: 4px;
}

.leaflet-control-attribution {
    display: none;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-fullscreen-button {
    border-radius: 4px !important;
    background-color: #202020 !important;
    color: #E8E8E8 !important;
}

.leaflet-control-zoom-in {
    margin-bottom: 10px;
}

.leaflet-bar {
    border: 0 !important;
}

.leaflet-bar a {
    border-bottom: 0;
}

.leaflet-left {
    margin-left: 25px;
}

.leaflet-bottom {
    margin-bottom: 25px;
}

/* Tabs */
.sidebar-info {
    background-color: #313131;
    margin-top: 5px;
    padding: 15px;
    height: 100%;
}

.tab {
    overflow: hidden;
    display: flex;
    justify-content: center;
}
  
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 50px;
    transition: 0.2s;
}
  
.tablinks {
    color: #8A8A8A;
}

.tablinks:hover {
    box-shadow: inset 0 -3px 0 #E8E8E8;
    color: #E8E8E8;
}

.tab button.active {
    box-shadow: inset 0 -3px 0 #E8E8E8;
    color: #E8E8E8;
}
  
/* Tab content */
.tabcontent {
    display: none;
    padding: 6px 25px;
    border-top: none;
    color: #8A8A8A;
}

.tab-line {
    margin-top: 0px;
    margin: 0 25px;
    border: none;
    height: 2px;
    background: #4D4D4D;
}

.download-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #E8E8E8;
    background-color: #4D4D4D;
    border-radius: 5px;
    float: right;
    padding: 5px 15px;
    margin-top: 15px;
    margin-right: 25px;
}

.tab-header {
    display: flex;
    justify-content: space-between;
}

.sidebar-item {
    margin-bottom: 15px;
}

/* tab content captains */
.tabcontent-captain,
.sidebar-item {
    background-color: #3A3A3A;
}

.tabcontent-item,
.tabcontent-captain,
.sidebar-item {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 20px
}
.tabcontent-item:last-child,
.sidebar-item:last-child {
    margin-bottom: 0;
}
.tabcontent-info {
    display: block;
    width: 100%;
}
.tabcontent-info-title {
    color: #8A8A8A;
    margin: 0;
}
.tabcontent-info-name {
    color: #eee;
    font-weight: 700;
    margin: 0;
    font-size: 17px;
}
.tabcontent-icon {
    background-color: #2E2E2E;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.tabcontent-export {
    display: flex;
    justify-content: end;
    width: 100%;
}

.tabcontent-product {
    color: #e8e8e8;
}

.tabcontent-line {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    height: 2px;
    width: 100%;
    background: #8A8A8A;
}

.tabcontent-route-total {
    color: #8A8A8A;
}

.tabcontent-route-km {
    color: #eee;
    font-weight: 700;
    font-size: 17px;
}

.tabcontent-route-image {
    height: 100px;
    width: auto;
}

/* Layers sidebar */
.layer-item {
    background-color: #3A3A3A;
    padding: 10px 20px
}

.sidebar-item:last-child {
    margin-bottom: 0;
}

/* Layers sidebar */
.layer-info {
    display: block;
    width: 100%;
}

.layer-desc {
    color: #8A8A8A;
    font-size: 10px;
}

.layer-title {
    color: #eee;
    font-weight: 700;
    font-size: 16px;
    margin: 5px 0 0 0;
}

.layer-button {
    background-color: #2E2E2E;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.layer-button:hover {
    background-color: #4D4D4D;
}

/* Search sidebar */
.search-form input {
    border-radius: 4px;
    width: 498px;
    height: 30px;
    padding: 0 10px;
    background-color: #4D4D4D;
    color: #fff;
    border: 1px solid #818181;
}

/* Onboarding */
.onboarding {
    position: absolute;
    width: 969px;
    height: 564px;
    top: 158px;
    background-color: #313131;
    border-radius: 4px;
    z-index: 551;
    padding: 20px;
    display: none;
}

.onboarding .btn {
    width: 20px;
}

.onboarding-text {
    color: #fff;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #fff;
    position: absolute;
    bottom: 50px;
}

.onboarding-text h2 {
    font-size: 20px;
}

.onboarding-text p {
    font-size: 14px;
    margin: 0 170px;
    color: #8A8A8A;
}

.onboarding-next {
    width: 115px !important;
    display: flex;
    justify-content: space-between;
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 0;
    font-size: 14px;
}
