/* General */
* {
    font-family: sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

/* Map */
#map {
    width: 100%;
    height: 100%;
    background: #253238;
}

/* Frisia */
.friesland {
    opacity: 1;
}

.friesland:hover {
    fill: white;
}

/* Tooltip */
.leaflet-tooltip-right:before,
.leaflet-tooltip-left:before,
.leaflet-pane .leaflet-marker-pane,
.leaflet-pane .leaflet-shadow-pane {
    display: none;
}

.leaflet-tooltip {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    box-shadow: none;
    font-size: 18px;
    color: #fff;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 75px;
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

.sidebar-icons a {
    fill: #E8E8E8;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 13px ;
    border-radius: 5px;
    transition: 0.5s;
}

.sidebar-footer {
    position: absolute;
    bottom: 50px;
}

.sidebar-icons a:hover {
    background-color: #313131
}

.expanded-sidebar {
    height: 100%;
    position: fixed;
    z-index: 501;
    top: 0;
    width: 0;
    right: 75px;
    background-color: #313131;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar-container {
    padding: 25px
}

.sidebar-header {
    position: absolute;
    z-index: 501;
    display: flex;
    width: 100%;
}

.sidebar-header a {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #E8E8E8;
    background-color: #4D4D4D;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 5px;
    transition: 0.5s;
    margin-right: 15px;
}

.sidebar-header a:last-child {
    position: absolute;
    right: 55px;
    margin-right: 0;
}

.sidebar-content {
    margin-top: 65px
}

.warning {
    background-color: #504235;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 0 18px;
    border-radius: 4px;
    color: #D9B943;
}

.warning img {
    margin-right: 25px;
    height: 20px
}